* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
#loading-screen.hidden {
    display: none;
}

.loader {
    --color: #000000;
    --size: 70px;
    width: var(--size);
    height: var(--size);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}
.loader span {
    width: 100%;
    height: 100%;
    background-color: var(--color);
    animation: keyframes-blink 0.6s alternate infinite linear;
}
.loader span:nth-child(1) { animation-delay: 0ms; }
.loader span:nth-child(2) { animation-delay: 200ms; }
.loader span:nth-child(3) { animation-delay: 300ms; }
.loader span:nth-child(4) { animation-delay: 400ms; }
.loader span:nth-child(5) { animation-delay: 500ms; }
.loader span:nth-child(6) { animation-delay: 600ms; }

@keyframes keyframes-blink {
    0% {
        opacity: 0.3;
        transform: scale(0.5) rotate(5deg);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
}

.container {
    display: flex;
    width: 100%;
    background-color: #ffffff;
    height: 900px;
    justify-content: center;
    padding: 0;
    max-width: 900px;
    margin-top: 200px;
}

.form-section {
    /* flex: 1; */
    display: flex
;
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
}
.image-section {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f6f0;
}
.image-section form{
    margin-left: 50px;
    margin-top: -400px;
    background-color: #ccc;
}
.image-section form input {
    font-family: 'Montserrat', sans-serif;
}
.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.question-page {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.question-page.active {
    text-align: center;
    display: inline-block;
    margin-left: 0%;
    position: relative;
    display: flex
;
}
.question {
    font-size: 40px;
    margin-bottom: 20px;
}
.form-control {
    width: 100%;
    border-radius: 0px;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    transition: border-bottom-color 0.3s ease, border-bottom-width 0.3s ease;
}
.form-control:focus {
    border-bottom: 2px solid #000000; /* Altera a cor da borda inferior ao focar */
    box-shadow: none; /* Remove a sombra padrão */
}
.form-control:focus::placeholder {
    opacity: 0; /* Esconde o placeholder ao focar */
}
.form-control::placeholder {
    transition: opacity 0.3s ease; /* Transição suave para o placeholder */
}
.btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    background-color: #5f5f5f;
    border-radius: 2px;
    border: 2px solid #5f5f5f;
    transition: background-color 0.3s ease;
}
.align-itens{
    gap: 20px;
}
.btn:hover {
    color: #3a3a3a;
    border: 2px solid #3a3a3a;
    background-color: #ffffff;
}
.align-contact {
    margin-top: 0%;
    margin-left: 0%;
    justify-self: left;
    text-align: center;
}
.align-contact span {
    color: #ffc107;
}
.align-contact p {
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}

.align-contact h1 {
    font-size: 55px;
}
.align-contact img {
    height: 100px;
}
.align-contact hr {
    width: 50%;
    justify-content: center;
    height: 2px;
    background-color: #000000;
    border: none;
    margin: 0px 0px 0px 00px;
}

@media (max-width: 768px) {
  
    .question-page.active {
        text-align: left;
        display: inline-block;
        margin-left: 0;
        position: relative;
        display: inline-block;
    }
    .question {
        font-size: 24px;
        margin-bottom: 20px;
    }
    #loading-screen {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }
    .container {
        display: flex
;
        width: 100%;
        background-color: #ffffff;
        height: 100%;
        margin: 0;
        max-width: revert-layer;
        justify-content: center;
        padding: 0;
        display: flow;
    }
    .align-contact {
        margin-top: 0%;
        display: inline;
        margin-left: 0;
        justify-self: left;
        text-align: left;
    }
    .align-contact h1 {
        font-size: 25px;
    }
   
    .image-section {
        height: 100%;
        width: 100%;
    }
    .form-section {
        flex: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        background-color: #fff;
    }
}
