@font-face {
    font-family: 'Gosha Sans';
    src: url('../fonts/GoshaSans-Bold.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
body {
        font-family: 'Gosha Sans', sans-serif !important;
       
    }
    footer {
        position: relative;
        background-color: #0d0d0d;
        color: #d8d8d8;
        justify-content: center;
        bottom: -20px;
        width: 100%;
        margin-top: 200px;
        display: inline-block;
        border-bottom: 15px solid #ffc107;
        padding: 40px 0;
    }
.footer-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    /* padding: 0 20px; */ gap: 100px;
}
       
.footer-section {
    text-align: left;
    /* flex: 1; */
   
    width: 300px;
    margin: 20px;
}
#backToTop {
    width: 50px; /* Tamanho do botão */
    height: 50px; /* Tamanho do botão */
    background-color: #979797; /* Cor de fundo */
    border: none; /* Sem borda */
    border-radius: 50%; /* Botão circular */
    cursor: pointer; /* Cursor pointer ao passar o mouse */
    color: #ffffff; /* Cor do ícone */
    font-size: 20px; /* Tamanho do ícone */
    display: flex; /* Flex para centralizar o ícone */
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Alinha horizontalmente */
    transition: background-color 0.3s; /* Efeito suave ao mudar a cor */
}

#backToTop:hover {
    background-color: #6b6a6a; /* Cor ao passar o mouse */
}

        .footer-section h2 {
            font-size: 18px;
            color: #ffffff;
            margin-bottom: 20px;
        }
        .footer-section p{
            font-weight: 100;
        }
        .footer-section p, .footer-section ul {
            font-size: 14px;
            line-height: 1.6;
        }
        
        .footer-section ul {
            list-style: none;
            padding: 0;
        }
        
        .footer-section ul li {
            margin-bottom: 10px;
        }
        
        .footer-section ul li i {
            margin-right: 10px;
        }
        
        .footer-section a {
            color: #ffffff;
            text-decoration: none;
        }
        
        .footer-section a:hover {
            color: #979797;
            text-decoration: underline;
        }
        
        .social-icons-footer {
            float: left;
            gap: 20px;
            margin-right: 0px;
            padding-top: 10px;
        }
       .social-icons-footer i{
        margin-right: 20px;
       }
        
        .social-icons a {
            color: #ffffff;
            font-size: 20px;
            transition: color 0.3s;
        }
        
        .social-icons a:hover {
            color: #a5a4a4;
        }
        
        .newsletter input[type="email"] {
            padding: 10px;
            width: calc(100% - 100px);
            border: none;
            border-radius: 5px;
            margin-right: 10px;
        }
        
        .newsletter button {
            padding: 10px 20px;
            background-color: #979797;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            color: #000000;
            font-weight: bold;
        }
        
        .newsletter button:hover {
            background-color: #979797;
        }
        
        .footer-bottom {
            text-align: center;
            margin-top: 40px;
            font-size: 14px;
        }
        
        .footer-bottom a {
            color: #979797;
            text-decoration: none;
        }
        
        .footer-bottom a:hover {
            text-decoration: underline;
        }
        @media (max-width: 768px) {
            footer{
               
                margin-top: 40px;
            }
            .footer-bottom {
                text-align: center;
                margin-top: 40px;
                font-size: 10px;
            }
            .footer-container {
                display: inline-flex
        ;
                text-align: right;
            }
        }